
/* main */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 14px;
    margin: 2px 2px 2px 2px;
    background-color: rgb(124, 182, 218);
}

.PostContainer {
    background-color: rgb(124, 182, 218);
    border-radius: 14px;
    margin: 2px 2px 2px 2px;
}

.posts p {
    display: inline-block;
    margin: 5px auto;
}

/*  */

.activeChangePost {
    display: flex;
}

.activeChangePost div {
    margin-left: -27px;
}

/* add post form */
.postModification {
    display: flex;
    align-items: center;
}
.addPhoto {
    margin: auto 5px auto 5px;
}

form {
    display: flex;
}
form button {
    margin: auto 5px auto 5px;
}
