.first {
    display: flex;
    flex-direction: column;
}
.form {
    width: 100%;
}
.form_title {
    margin: 10px auto auto auto;
    width: 250px;
    height: 100px;
}
.checkBox {
    display: flex;
}

.rem,
.pass,
.login {
    font-weight: bold;
}

.login, .pass { margin: 0px auto 8px auto; }

.errorString { color: red; font-size: 12px; display: inline-block; }




/* button */

.buttonContainer {
    display: flex;
}

.buttonSubmit {
    background-color: rgb(43, 86, 204);
    border-radius: 8px;
    padding: 8px;
}
.buttonSubmit:hover {
    background-color: rgb(68, 115, 246);
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}