.main {
  display: flex;
  justify-content: space-between;
  min-height: 70vh;
  background-color: rgb(37, 126, 185);
}
.app-wrapper-content {
  background-color: red;
}
@media (max-width: 420px) { 
  .App-wrapper {
    font-size: 5px;
  }
}
