.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* .gradientButton {
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    color: black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;  
    padding-top: 12px;
    height: 30px;
    width: 80px;
}

.gradientButton:hover{
    background-position: right center;
    color: white;
} */